In [1]:
import pandas as pd
import numpy as np
import time

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

import tensorflow as tf

In [2]:
df1=pd.read_csv('athlete_events.csv', sep=',', index_col=None, engine='python')

In [3]:
# Some information before pre-processing
print("NOC:", len(df1.NOC.unique()))
print("CITY:", len(df1.City.unique()))
print("Sport:", len(df1.Sport.unique()))
print("Event:", len(df1.Event.unique()))

print("Did Not Win:", sum(pd.isnull(df1['Medal'])))
print("Gold Medalists:", len(df1.loc[df1['Medal'] == 'Gold']))
print("Silver Medalists", len(df1.loc[df1['Medal'] == 'Silver']))
print("Bronze Medalists", len(df1.loc[df1['Medal'] == 'Bronze']))

NOC: 230
CITY: 42
Sport: 66
Event: 765
Did Not Win: 231333
Gold Medalists: 13372
Silver Medalists 13116
Bronze Medalists 13295

In [4]:
# First I want to test with complete values, 
# I will split into train & test set for Error
df2 = df1.dropna(subset=['Age','Height','Weight'])
df2.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
def pre_processing(df, flag = False):
    """
        Preprocessing specific to the dataset that I'm working with
    """
    # ID is an Unique number for each athlete
    # Drop Names: names have no bearing on individual's performance
    # Cannot 1 hot encode ID, then number of features would explode
    df = df.drop('Name', axis = 1)
    
    # Drop Teams: Teams and NOCs are (almost) identical, hence cleaning
    df = df.drop('Team', axis = 1)
    
    # Drop Games: It just contains Season and Year, which we have separately anyway
    df = df.drop('Games', axis = 1)
    
    # 1 Hot Encoding Years
    df = pd.get_dummies(df, columns=['Year'])
    
    
#     # Games column has the year as extra, removing
#     df['Games'] = df['Games'].str[5:]
#     # Renaming to keep it meaningful
#     #df = df.rename({'Games': 'Season'}, axis=1)
    

    # One Hot Encode the following features using pandas get_dummies function
    df = pd.get_dummies(df, columns=['Sex', 'Season'])
    
    # Replace athletes having no medal with 0
    # df = df.fillna(value = {'Medal': 0})
    # Replace athletes having gold, silver and bronze medal with 200, 150, 100
    # I felt these values would properly quantify the weightage of winning a medal
#     adjusted_vals = {"Medal": {"Gold": 200, 
#                                "Silver": 150, 
#                                "Bronze": 100}
#                     }
#     df = df.replace(adjusted_vals)
    
    
    
    # DNW = Did not win
    df = df.fillna(value = {'Medal': 'DNW'})
    
    # One Hot Encode the following features using pandas get_dummies function
    df = pd.get_dummies(df, columns=['Medal'])


    
    # Number of New Features added after 1-Hot-Encoding features with high cardinality
#     print("NOC:", len(df.NOC.unique()))
#     print("CITY:", len(df.City.unique()))
#     print("Sport:", len(df.Sport.unique()))
#     print("Event:", len(df.Event.unique()))
    
    if(flag == True):
        # One Hot Encode the following features using pandas get_dummies function
        df = pd.get_dummies(df, columns=['NOC', 'City', 'Sport', 'Event'])
    else:
        # drop these functions
        df = df.drop(['NOC', 'City', 'Sport', 'Event'], axis = 1)
    
    
    return df

In [6]:
df = pre_processing(df2, False)

In [7]:
df.head()

,ID,Age,Height,Weight,Year_1896,Year_1900,Year_1904,Year_1906,Year_1908,Year_1912,...,Year_2014,Year_2016,Sex_F,Sex_M,Season_Summer,Season_Winter,Medal_Bronze,Medal_DNW,Medal_Gold,Medal_Silver
0,1,24.0,180.0,80.0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0
1,2,23.0,170.0,60.0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0
4,5,21.0,185.0,82.0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
5,5,21.0,185.0,82.0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
6,5,25.0,185.0,82.0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0

In [8]:
df_large = pre_processing(df2, True)

In [9]:
df_large

,ID,Age,Height,Weight,Year_1896,Year_1900,Year_1904,Year_1906,Year_1908,Year_1912,...,"Event_Wrestling Men's Super-Heavyweight, Greco-Roman","Event_Wrestling Men's Unlimited Class, Greco-Roman","Event_Wrestling Men's Welterweight, Freestyle","Event_Wrestling Men's Welterweight, Greco-Roman","Event_Wrestling Women's Featherweight, Freestyle","Event_Wrestling Women's Flyweight, Freestyle","Event_Wrestling Women's Heavyweight, Freestyle","Event_Wrestling Women's Light-Heavyweight, Freestyle","Event_Wrestling Women's Lightweight, Freestyle","Event_Wrestling Women's Middleweight, Freestyle"
0,1,24.0,180.0,80.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,23.0,170.0,60.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,21.0,185.0,82.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,21.0,185.0,82.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,5,25.0,185.0,82.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,29.0,179.0,89.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271112,135570,27.0,176.0,59.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271113,135570,27.0,176.0,59.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271114,135571,30.0,185.0,96.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271115,135571,34.0,185.0,96.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# print("NOC:", len(df.NOC.unique()))
# print("CITY:", len(df.City.unique()))
# print("Sport:", len(df.Sport.unique()))
# print("Event:", len(df.Event.unique()))

In [11]:
df.shape

(206165, 47)

In [12]:
df_large.shape

(206165, 961)

In [13]:
# Basic Completion Agent
class BCA():
    def __init__(self):
        pass
    
    def fit(self, X_train, Y_train):
        pass
        self.y_col_name = Y_train.columns[0]
        self.y_mean = Y_train[self.y_col_name].mean()
    
    
    def pred(self, X_test):
        pass
        X_test_m = np.shape(X_test)[0]
        #Y_pred = pd.DataFrame(self.y_mean, columns = self.y_col_name)
        Y_pred = pd.DataFrame(self.y_mean, index = np.arange(X_test_m), columns = {self.y_col_name})
        return Y_pred

## *The following outputs are errors, the first dict is the RMSE of each feature, and the second dict is the MAE.

In [14]:
# Testing Basic Completion Agent

In [15]:
def BCA_Error(df, y_vals):
    # dict containing individual y_val MSEs
    rmse_dict = {}
    mae_dict = {}
    for y in y_vals:
        # Lets train and predict Age
        X = df.drop(y, axis = 1)
        Y = df[[y]]
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
        
        # Create a model
        BCA_model = BCA()
        
        # Fit/Train the model
        BCA_model.fit(X_train, Y_train)
        
        # Predict
        Y_pred = BCA_model.pred(X_test)        
        
        
        # Calculate RMSE
        rmse = np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
        
        # Calculate MAE
        mae = metrics.mean_absolute_error(Y_test, Y_pred)
        
        # add to dict
        rmse_dict[y] = rmse
        mae_dict[y] = mae
        
    return rmse_dict, mae_dict

In [16]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(BCA_Error(df, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

({'Age': 5.509763131202196, 'Height': 10.586037663370348, 'Weight': 14.365553232112697}, {'Age': 4.138206974083723, 'Height': 8.465884121705892, 'Weight': 11.094197490399097})
Time Taken: 0

In [17]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(BCA_Error(df_large, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

({'Age': 5.509763131202196, 'Height': 10.586037663370348, 'Weight': 14.365553232112697}, {'Age': 4.138206974083723, 'Height': 8.465884121705892, 'Weight': 11.094197490399097})
Time Taken: 3

- should be same, coz not dependent on other columns while taking mean/mode

In [18]:
# Testing using Libraries

In [19]:
def LinRegError(df, y_vals):
    # dict containing individual y_val MSEs
    rmse_dict = {}
    mae_dict = {}
    for y in y_vals:
        # Lets train and predict Age
        X = df.drop(y, axis = 1)
        Y = df[[y]]
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
        
        # Create a model
        lin_reg_model = LinearRegression()
        
        # Fit/Train the model
        lin_reg_model.fit(X_train, Y_train)
        
        # Predict
        Y_pred = lin_reg_model.predict(X_test)
        
        # Calculate RMSE
        rmse=np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
        
        # Calculate MAE
        mae = metrics.mean_absolute_error(Y_test, Y_pred)
        
        # add to dict
        rmse_dict[y] = rmse
        mae_dict[y] = mae
        
    return rmse_dict, mae_dict

In [20]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(LinRegError(df, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

({'Age': 5.3017053182260545, 'Height': 6.230227902336726, 'Weight': 8.345069561912402}, {'Age': 3.99557081798677, 'Height': 4.78982054741217, 'Weight': 5.798668803334796})
Time Taken: 1

In [21]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(LinRegError(df_large, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

({'Age': 3954.068899119992, 'Height': 159.80280508156613, 'Weight': 2147.7725583315796}, {'Age': 25.982488347853145, 'Height': 4.753625664539187, 'Weight': 18.391961272467036})
Time Taken: 48

- Gets Worse, RMSE as well as MAE

In [25]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib
#help(joblib.parallel)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [26]:
def RandomForestRegressorError(df, y_vals):
    # dict containing individual y_val MSEs
    rmse_dict = {}
    mae_dict = {}
    for y in y_vals:
        # Lets train and predict Age
        X_df = df.drop(y, axis = 1)
        Y_df = df[[y]]
        
        X = np.array(X_df)
        Y = np.array(Y_df).flatten()
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
        
        
        # Create model with 1000 decision trees
        RFR_model = RandomForestRegressor(n_estimators = 50, max_depth = 80, random_state = 0, verbose = 1, n_jobs=-1)
        
        # Train the model on training data
        RFR_model.fit(X_train, Y_train)
        
        # Use the forest's predict method on the test data
        Y_pred = RFR_model.predict(X_test)
        
        # Calculate RMSE
        rmse=np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
        
        # Calculate MAE
        mae = metrics.mean_absolute_error(Y_test, Y_pred)
        
        # add to dict
        rmse_dict[y] = rmse
        mae_dict[y] = mae
        
    return rmse_dict, mae_dict

In [27]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(RandomForestRegressorError(df, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   18.8s finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.1s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   16.3s finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.1s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   15.5s finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.1s finished

({'Age': 4.291203032558678, 'Height': 4.880403153973122, 'Weight': 7.657090485794006}, {'Age': 2.8670312613683215, 'Height': 3.2436650255863015, 'Weight': 4.648500230397983})
Time Taken: 53

In [28]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(RandomForestRegressorError(df_large, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  6.7min finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.2s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  4.6min finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.2s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  5.5min finished
[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  26 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done  50 out of  50 | elapsed:    0.2s finished

({'Age': 3.68033175948988, 'Height': 3.5723596812696488, 'Weight': 4.442610727983362}, {'Age': 2.58805591579757, 'Height': 2.413007182804602, 'Weight': 2.792027933863245})
Time Taken: 1043

In [29]:
def NN_Error(df, y_vals):
    # dict containing individual y_val MSEs
    rmse_dict = {}
    mae_dict = {}
    for y in y_vals:
        # Lets train and predict Age
        X_df = df.drop(y, axis = 1)
        Y_df = df[[y]]
        
        X = np.array(X_df)
        Y = np.array(Y_df).flatten()
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
        
        
        # Train set is 60% of total, val set is 20% of total (and test also 20%)
        # X_train, X_val, Y_train, Y_val = train_test_split(X_tv, Y_tv, test_size=0.01, random_state = 0)
        
        
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)
        
        
#         input_layer = tf.keras.layers.Input(shape=(X_train.shape[1],))
#         dense_layer_1 = tf.keras.layers.Dense(100, activation='relu')(input_layer)
#         dense_layer_2 = tf.keras.layers.Dense(50, activation='relu')(dense_layer_1)
#         dense_layer_3 = tf.keras.layers.Dense(25, activation='relu')(dense_layer_2)
#         output = tf.keras.layers.Dense(1)(dense_layer_3)

#         NN_model = tf.keras.models.Model(inputs=input_layer, outputs=output)
#         NN_model.compile(loss="mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

#         # Fit/Train
#         history = NN_model.fit(X_train, Y_train, batch_size=128, epochs=20, verbose=1, validation_split=0.2)


        # Define model
        NN_model = tf.keras.models.Sequential()
        NN_model.add(tf.keras.layers.Dense(400, input_dim=(X_train.shape[1]), activation = "relu"))
#         NN_model.add(tf.keras.layers.Dropout(0.2))
        NN_model.add(tf.keras.layers.Dense(200, activation = "relu"))
#         NN_model.add(tf.keras.layers.Dropout(0.2))
        NN_model.add(tf.keras.layers.Dense(100, activation = "relu"))
#         NN_model.add(tf.keras.layers.Dropout(0.2))
        NN_model.add(tf.keras.layers.Dense(40, activation = "relu"))
        NN_model.add(tf.keras.layers.Dense(1))


        NN_model.compile(loss = "mean_squared_error" , optimizer = "adam", metrics = ["mean_squared_error"])
        NN_model.fit(X_train, Y_train, epochs=20, verbose=1, validation_split=0.2)#, batch_size=64)
            

                
        # Predict
        Y_pred = NN_model.predict(X_test)
        
        # Calculate RMSE
        rmse=np.sqrt(metrics.mean_squared_error(Y_test, Y_pred))
        
        # Calculate MAE
        mae = metrics.mean_absolute_error(Y_test, Y_pred)
        
        # add to dict
        rmse_dict[y] = rmse
        mae_dict[y] = mae
        
    return rmse_dict, mae_dict

In [30]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(NN_Error(df, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

Epoch 1/20
4124/4124 [==============================] - 30s 7ms/step - loss: 31.1626 - mean_squared_error: 31.1626 - val_loss: 27.1568 - val_mean_squared_error: 27.1568
Epoch 2/20
4124/4124 [==============================] - 30s 7ms/step - loss: 28.1916 - mean_squared_error: 28.1916 - val_loss: 27.2141 - val_mean_squared_error: 27.2141
Epoch 3/20
4124/4124 [==============================] - 33s 8ms/step - loss: 27.8158 - mean_squared_error: 27.8158 - val_loss: 27.7032 - val_mean_squared_error: 27.7032
Epoch 4/20
4124/4124 [==============================] - 22s 5ms/step - loss: 27.5671 - mean_squared_error: 27.5671 - val_loss: 26.5728 - val_mean_squared_error: 26.5728
Epoch 5/20
4124/4124 [==============================] - 18s 4ms/step - loss: 27.4035 - mean_squared_error: 27.4035 - val_loss: 27.3613 - val_mean_squared_error: 27.3613
Epoch 6/20
4124/4124 [==============================] - 16s 4ms/step - loss: 27.3232 - mean_squared_error: 27.3232 - val_loss: 26.9265 - val_mean_squared_error: 26.9265
Epoch 7/20
4124/4124 [==============================] - 15s 4ms/step - loss: 27.2330 - mean_squared_error: 27.2330 - val_loss: 27.0436 - val_mean_squared_error: 27.0436
Epoch 8/20
4124/4124 [==============================] - 17s 4ms/step - loss: 27.1498 - mean_squared_error: 27.1498 - val_loss: 26.7269 - val_mean_squared_error: 26.7269
Epoch 9/20
4124/4124 [==============================] - 17s 4ms/step - loss: 27.1159 - mean_squared_error: 27.1159 - val_loss: 26.5938 - val_mean_squared_error: 26.5938
Epoch 10/20
4124/4124 [==============================] - 16s 4ms/step - loss: 27.0311 - mean_squared_error: 27.0311 - val_loss: 26.5098 - val_mean_squared_error: 26.5098
Epoch 11/20
4124/4124 [==============================] - 16s 4ms/step - loss: 27.0488 - mean_squared_error: 27.0488 - val_loss: 26.9819 - val_mean_squared_error: 26.9819
Epoch 12/20
4124/4124 [==============================] - 16s 4ms/step - loss: 27.0273 - mean_squared_error: 27.0273 - val_loss: 26.3238 - val_mean_squared_error: 26.3238
Epoch 13/20
4124/4124 [==============================] - 16s 4ms/step - loss: 26.9513 - mean_squared_error: 26.9513 - val_loss: 26.4566 - val_mean_squared_error: 26.4566
Epoch 14/20
4124/4124 [==============================] - 18s 4ms/step - loss: 26.9298 - mean_squared_error: 26.9298 - val_loss: 26.4610 - val_mean_squared_error: 26.4610
Epoch 15/20
4124/4124 [==============================] - 18s 4ms/step - loss: 26.8961 - mean_squared_error: 26.8961 - val_loss: 26.2502 - val_mean_squared_error: 26.2502
Epoch 16/20
4124/4124 [==============================] - 17s 4ms/step - loss: 26.8861 - mean_squared_error: 26.8861 - val_loss: 26.3789 - val_mean_squared_error: 26.3789
Epoch 17/20
4124/4124 [==============================] - 21s 5ms/step - loss: 26.8176 - mean_squared_error: 26.8176 - val_loss: 26.3669 - val_mean_squared_error: 26.3669
Epoch 18/20
4124/4124 [==============================] - 21s 5ms/step - loss: 26.8102 - mean_squared_error: 26.8102 - val_loss: 26.3450 - val_mean_squared_error: 26.3450
Epoch 19/20
4124/4124 [==============================] - 16s 4ms/step - loss: 26.8253 - mean_squared_error: 26.8253 - val_loss: 26.4743 - val_mean_squared_error: 26.4743
Epoch 20/20
4124/4124 [==============================] - 17s 4ms/step - loss: 26.7351 - mean_squared_error: 26.7351 - val_loss: 26.2776 - val_mean_squared_error: 26.2776
Epoch 1/20
4124/4124 [==============================] - 17s 4ms/step - loss: 230.9523 - mean_squared_error: 230.9523 - val_loss: 51.7564 - val_mean_squared_error: 51.7564
Epoch 2/20
4124/4124 [==============================] - 17s 4ms/step - loss: 45.1828 - mean_squared_error: 45.1828 - val_loss: 40.1932 - val_mean_squared_error: 40.1932
Epoch 3/20
4124/4124 [==============================] - 17s 4ms/step - loss: 42.4872 - mean_squared_error: 42.4872 - val_loss: 40.4796 - val_mean_squared_error: 40.4796
Epoch 4/20
4124/4124 [==============================] - 17s 4ms/step - loss: 40.5096 - mean_squared_error: 40.5096 - val_loss: 38.2849 - val_mean_squared_error: 38.2849
Epoch 5/20
4124/4124 [==============================] - 17s 4ms/step - loss: 39.2482 - mean_squared_error: 39.2482 - val_loss: 36.8777 - val_mean_squared_error: 36.8777
Epoch 6/20
4124/4124 [==============================] - 16s 4ms/step - loss: 38.7139 - mean_squared_error: 38.7139 - val_loss: 38.5100 - val_mean_squared_error: 38.5100
Epoch 7/20
4124/4124 [==============================] - 17s 4ms/step - loss: 37.8814 - mean_squared_error: 37.8814 - val_loss: 36.7113 - val_mean_squared_error: 36.7113
Epoch 8/20
4124/4124 [==============================] - 17s 4ms/step - loss: 37.2196 - mean_squared_error: 37.2196 - val_loss: 34.6581 - val_mean_squared_error: 34.6581
Epoch 9/20
4124/4124 [==============================] - 15s 4ms/step - loss: 37.0707 - mean_squared_error: 37.0707 - val_loss: 37.7179 - val_mean_squared_error: 37.7179
Epoch 10/20
4124/4124 [==============================] - 17s 4ms/step - loss: 36.6714 - mean_squared_error: 36.6714 - val_loss: 38.1450 - val_mean_squared_error: 38.1450
Epoch 11/20
4124/4124 [==============================] - 17s 4ms/step - loss: 36.2182 - mean_squared_error: 36.2182 - val_loss: 35.2710 - val_mean_squared_error: 35.2710
Epoch 12/20
4124/4124 [==============================] - 17s 4ms/step - loss: 36.2466 - mean_squared_error: 36.2466 - val_loss: 34.9183 - val_mean_squared_error: 34.9183
Epoch 13/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.8213 - mean_squared_error: 35.8213 - val_loss: 42.5962 - val_mean_squared_error: 42.5962
Epoch 14/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.5276 - mean_squared_error: 35.5276 - val_loss: 34.6802 - val_mean_squared_error: 34.6802
Epoch 15/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.5216 - mean_squared_error: 35.5216 - val_loss: 34.6732 - val_mean_squared_error: 34.6732
Epoch 16/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.6219 - mean_squared_error: 35.6219 - val_loss: 36.1604 - val_mean_squared_error: 36.1604
Epoch 17/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.4067 - mean_squared_error: 35.4067 - val_loss: 36.0786 - val_mean_squared_error: 36.0786
Epoch 18/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.4589 - mean_squared_error: 35.4589 - val_loss: 37.2398 - val_mean_squared_error: 37.2398
Epoch 19/20
4124/4124 [==============================] - 16s 4ms/step - loss: 35.1490 - mean_squared_error: 35.1490 - val_loss: 35.3665 - val_mean_squared_error: 35.3665
Epoch 20/20
4124/4124 [==============================] - 17s 4ms/step - loss: 35.0497 - mean_squared_error: 35.0497 - val_loss: 39.6063 - val_mean_squared_error: 39.6063
Epoch 1/20
4124/4124 [==============================] - 16s 4ms/step - loss: 100.4175 - mean_squared_error: 100.4175 - val_loss: 74.1367 - val_mean_squared_error: 74.1367
Epoch 2/20
4124/4124 [==============================] - 17s 4ms/step - loss: 74.3189 - mean_squared_error: 74.3189 - val_loss: 71.8503 - val_mean_squared_error: 71.8503
Epoch 3/20
4124/4124 [==============================] - 17s 4ms/step - loss: 73.0990 - mean_squared_error: 73.0990 - val_loss: 70.8044 - val_mean_squared_error: 70.8044
Epoch 4/20
4124/4124 [==============================] - 16s 4ms/step - loss: 71.7693 - mean_squared_error: 71.7693 - val_loss: 70.6330 - val_mean_squared_error: 70.6330
Epoch 5/20
4124/4124 [==============================] - 16s 4ms/step - loss: 71.2799 - mean_squared_error: 71.2799 - val_loss: 70.9871 - val_mean_squared_error: 70.9871
Epoch 6/20
4124/4124 [==============================] - 18s 4ms/step - loss: 70.7074 - mean_squared_error: 70.7074 - val_loss: 79.5827 - val_mean_squared_error: 79.5827
Epoch 7/20
4124/4124 [==============================] - 17s 4ms/step - loss: 70.3039 - mean_squared_error: 70.3039 - val_loss: 70.2634 - val_mean_squared_error: 70.2634
Epoch 8/20
4124/4124 [==============================] - 17s 4ms/step - loss: 70.0122 - mean_squared_error: 70.0122 - val_loss: 69.2434 - val_mean_squared_error: 69.2434
Epoch 9/20

4124/4124 [==============================] - 16s 4ms/step - loss: 69.7159 - mean_squared_error: 69.7159 - val_loss: 71.5274 - val_mean_squared_error: 71.5274
Epoch 10/20
4124/4124 [==============================] - 18s 4ms/step - loss: 69.5693 - mean_squared_error: 69.5693 - val_loss: 69.6275 - val_mean_squared_error: 69.6275
Epoch 11/20
4124/4124 [==============================] - 17s 4ms/step - loss: 69.2979 - mean_squared_error: 69.2979 - val_loss: 69.7573 - val_mean_squared_error: 69.7573
Epoch 12/20
4124/4124 [==============================] - 18s 4ms/step - loss: 69.3345 - mean_squared_error: 69.3345 - val_loss: 69.7679 - val_mean_squared_error: 69.7679
Epoch 13/20
4124/4124 [==============================] - 18s 4ms/step - loss: 69.2907 - mean_squared_error: 69.2907 - val_loss: 68.5790 - val_mean_squared_error: 68.5790
Epoch 14/20
4124/4124 [==============================] - 16s 4ms/step - loss: 69.0891 - mean_squared_error: 69.0891 - val_loss: 69.4137 - val_mean_squared_error: 69.4137
Epoch 15/20
4124/4124 [==============================] - 16s 4ms/step - loss: 69.0276 - mean_squared_error: 69.0276 - val_loss: 70.6908 - val_mean_squared_error: 70.6908
Epoch 16/20
4124/4124 [==============================] - 16s 4ms/step - loss: 68.8679 - mean_squared_error: 68.8679 - val_loss: 69.8232 - val_mean_squared_error: 69.8232
Epoch 17/20
4124/4124 [==============================] - 16s 4ms/step - loss: 68.8057 - mean_squared_error: 68.8057 - val_loss: 70.1697 - val_mean_squared_error: 70.1697
Epoch 18/20
4124/4124 [==============================] - 18s 4ms/step - loss: 68.5830 - mean_squared_error: 68.5830 - val_loss: 69.6921 - val_mean_squared_error: 69.6921
Epoch 19/20
4124/4124 [==============================] - 17s 4ms/step - loss: 68.5755 - mean_squared_error: 68.5755 - val_loss: 70.0646 - val_mean_squared_error: 70.0646
Epoch 20/20
4124/4124 [==============================] - 16s 4ms/step - loss: 68.4992 - mean_squared_error: 68.4992 - val_loss: 71.6376 - val_mean_squared_error: 71.6376
({'Age': 5.194774426270923, 'Height': 6.279282555077576, 'Weight': 8.468955943320703}, {'Age': 3.8782030146806536, 'Height': 4.915925786395349, 'Weight': 6.106072553536993})
Time Taken: 1081

In [31]:
y_vals = ['Age', 'Height', 'Weight']
t1 = time.time()
print(NN_Error(df_large, y_vals))
t2 = time.time()
print("Time Taken:", int(t2 - t1))

Epoch 1/20
4124/4124 [==============================] - 16s 4ms/step - loss: 25.1481 - mean_squared_error: 25.1481 - val_loss: 22.0644 - val_mean_squared_error: 22.0644
Epoch 2/20
4124/4124 [==============================] - 16s 4ms/step - loss: 19.9999 - mean_squared_error: 19.9999 - val_loss: 22.1629 - val_mean_squared_error: 22.1629
Epoch 3/20
4124/4124 [==============================] - 16s 4ms/step - loss: 18.7125 - mean_squared_error: 18.7125 - val_loss: 20.0379 - val_mean_squared_error: 20.0379
Epoch 4/20
4124/4124 [==============================] - 16s 4ms/step - loss: 17.9870 - mean_squared_error: 17.9870 - val_loss: 19.1164 - val_mean_squared_error: 19.1164
Epoch 5/20
4124/4124 [==============================] - 17s 4ms/step - loss: 17.4084 - mean_squared_error: 17.4084 - val_loss: 18.6338 - val_mean_squared_error: 18.6338
Epoch 6/20
4124/4124 [==============================] - 16s 4ms/step - loss: 16.8956 - mean_squared_error: 16.8956 - val_loss: 19.1356 - val_mean_squared_error: 19.1356
Epoch 7/20
4124/4124 [==============================] - 17s 4ms/step - loss: 16.4095 - mean_squared_error: 16.4095 - val_loss: 20.7617 - val_mean_squared_error: 20.7617
Epoch 8/20
4124/4124 [==============================] - 17s 4ms/step - loss: 16.0388 - mean_squared_error: 16.0388 - val_loss: 21.3480 - val_mean_squared_error: 21.3480
Epoch 9/20
4124/4124 [==============================] - 18s 4ms/step - loss: 15.7150 - mean_squared_error: 15.7150 - val_loss: 24.3124 - val_mean_squared_error: 24.3124
Epoch 10/20
4124/4124 [==============================] - 17s 4ms/step - loss: 15.3757 - mean_squared_error: 15.3757 - val_loss: 24.3962 - val_mean_squared_error: 24.3962
Epoch 11/20
4124/4124 [==============================] - 17s 4ms/step - loss: 15.0948 - mean_squared_error: 15.0948 - val_loss: 31.3601 - val_mean_squared_error: 31.3601
Epoch 12/20
4124/4124 [==============================] - 17s 4ms/step - loss: 14.7958 - mean_squared_error: 14.7958 - val_loss: 32.9454 - val_mean_squared_error: 32.9454
Epoch 13/20
4124/4124 [==============================] - 17s 4ms/step - loss: 14.5746 - mean_squared_error: 14.5746 - val_loss: 27.1259 - val_mean_squared_error: 27.1259
Epoch 14/20
4124/4124 [==============================] - 17s 4ms/step - loss: 14.2699 - mean_squared_error: 14.2699 - val_loss: 32.1613 - val_mean_squared_error: 32.1613
Epoch 15/20
4124/4124 [==============================] - 16s 4ms/step - loss: 14.0170 - mean_squared_error: 14.0170 - val_loss: 28.9794 - val_mean_squared_error: 28.9794
Epoch 16/20
4124/4124 [==============================] - 16s 4ms/step - loss: 13.8112 - mean_squared_error: 13.8112 - val_loss: 30.9163 - val_mean_squared_error: 30.9163
Epoch 17/20
4124/4124 [==============================] - 18s 4ms/step - loss: 13.5665 - mean_squared_error: 13.5665 - val_loss: 33.3805 - val_mean_squared_error: 33.3805
Epoch 18/20
4124/4124 [==============================] - 18s 4ms/step - loss: 13.3146 - mean_squared_error: 13.3146 - val_loss: 33.4043 - val_mean_squared_error: 33.4043
Epoch 19/20
4124/4124 [==============================] - 18s 4ms/step - loss: 13.1533 - mean_squared_error: 13.1533 - val_loss: 38.5057 - val_mean_squared_error: 38.5057
Epoch 20/20
4124/4124 [==============================] - 18s 4ms/step - loss: 12.8953 - mean_squared_error: 12.8953 - val_loss: 44.1795 - val_mean_squared_error: 44.1795
Epoch 1/20
4124/4124 [==============================] - 18s 4ms/step - loss: 267.0319 - mean_squared_error: 267.0319 - val_loss: 120.9138 - val_mean_squared_error: 120.9138
Epoch 2/20
4124/4124 [==============================] - 17s 4ms/step - loss: 65.8431 - mean_squared_error: 65.8431 - val_loss: 81.5945 - val_mean_squared_error: 81.5945
Epoch 3/20
4124/4124 [==============================] - 18s 4ms/step - loss: 50.6476 - mean_squared_error: 50.6476 - val_loss: 59.2246 - val_mean_squared_error: 59.2246
Epoch 4/20
4124/4124 [==============================] - 18s 4ms/step - loss: 41.9403 - mean_squared_error: 41.9403 - val_loss: 46.7638 - val_mean_squared_error: 46.7638
Epoch 5/20
4124/4124 [==============================] - 22s 5ms/step - loss: 36.4996 - mean_squared_error: 36.4996 - val_loss: 43.1042 - val_mean_squared_error: 43.1042
Epoch 6/20
4124/4124 [==============================] - 21s 5ms/step - loss: 33.3999 - mean_squared_error: 33.3999 - val_loss: 45.0385 - val_mean_squared_error: 45.0385
Epoch 7/20
4124/4124 [==============================] - 18s 4ms/step - loss: 31.2383 - mean_squared_error: 31.2383 - val_loss: 34.8549 - val_mean_squared_error: 34.8549
Epoch 8/20
4124/4124 [==============================] - 18s 4ms/step - loss: 30.1810 - mean_squared_error: 30.1810 - val_loss: 33.5686 - val_mean_squared_error: 33.5686
Epoch 9/20
4124/4124 [==============================] - 18s 4ms/step - loss: 29.0431 - mean_squared_error: 29.0431 - val_loss: 43.2337 - val_mean_squared_error: 43.2337
Epoch 10/20
4124/4124 [==============================] - 18s 4ms/step - loss: 27.3202 - mean_squared_error: 27.3202 - val_loss: 33.4873 - val_mean_squared_error: 33.4873
Epoch 11/20
4124/4124 [==============================] - 18s 4ms/step - loss: 26.5113 - mean_squared_error: 26.5113 - val_loss: 39.0698 - val_mean_squared_error: 39.0698
Epoch 12/20
4124/4124 [==============================] - 19s 5ms/step - loss: 25.9018 - mean_squared_error: 25.9018 - val_loss: 30.2885 - val_mean_squared_error: 30.2885
Epoch 13/20
4124/4124 [==============================] - 18s 4ms/step - loss: 24.7839 - mean_squared_error: 24.7839 - val_loss: 28.9967 - val_mean_squared_error: 28.9967
Epoch 14/20
4124/4124 [==============================] - 18s 4ms/step - loss: 24.0064 - mean_squared_error: 24.0064 - val_loss: 31.9716 - val_mean_squared_error: 31.9716
Epoch 15/20
4124/4124 [==============================] - 18s 4ms/step - loss: 23.5548 - mean_squared_error: 23.5548 - val_loss: 31.2049 - val_mean_squared_error: 31.2049
Epoch 16/20
4124/4124 [==============================] - 19s 5ms/step - loss: 22.9149 - mean_squared_error: 22.9149 - val_loss: 34.1830 - val_mean_squared_error: 34.1830
Epoch 17/20
4124/4124 [==============================] - 19s 5ms/step - loss: 22.4361 - mean_squared_error: 22.4361 - val_loss: 31.9479 - val_mean_squared_error: 31.9479
Epoch 18/20
4124/4124 [==============================] - 19s 5ms/step - loss: 22.0830 - mean_squared_error: 22.0830 - val_loss: 29.6392 - val_mean_squared_error: 29.6392
Epoch 19/20
4124/4124 [==============================] - 19s 4ms/step - loss: 21.6004 - mean_squared_error: 21.6004 - val_loss: 31.0090 - val_mean_squared_error: 31.0090
Epoch 20/20
4124/4124 [==============================] - 18s 4ms/step - loss: 20.9758 - mean_squared_error: 20.9758 - val_loss: 29.2046 - val_mean_squared_error: 29.2046
Epoch 1/20
4124/4124 [==============================] - 18s 4ms/step - loss: 73.3562 - mean_squared_error: 73.3562 - val_loss: 43.7644 - val_mean_squared_error: 43.7644
Epoch 2/20
4124/4124 [==============================] - 18s 4ms/step - loss: 38.0742 - mean_squared_error: 38.0742 - val_loss: 38.9765 - val_mean_squared_error: 38.9765
Epoch 3/20
4124/4124 [==============================] - 19s 4ms/step - loss: 33.7990 - mean_squared_error: 33.7990 - val_loss: 40.2407 - val_mean_squared_error: 40.2407
Epoch 4/20
4124/4124 [==============================] - 18s 4ms/step - loss: 30.9518 - mean_squared_error: 30.9518 - val_loss: 33.8090 - val_mean_squared_error: 33.8090
Epoch 5/20
4124/4124 [==============================] - 19s 5ms/step - loss: 29.2034 - mean_squared_error: 29.2034 - val_loss: 36.9661 - val_mean_squared_error: 36.9661
Epoch 6/20
4124/4124 [==============================] - 19s 5ms/step - loss: 27.8398 - mean_squared_error: 27.8398 - val_loss: 32.5350 - val_mean_squared_error: 32.5350
Epoch 7/20
4124/4124 [==============================] - 20s 5ms/step - loss: 26.8103 - mean_squared_error: 26.8103 - val_loss: 32.0057 - val_mean_squared_error: 32.0057
Epoch 8/20
4124/4124 [==============================] - 18s 4ms/step - loss: 26.0473 - mean_squared_error: 26.0473 - val_loss: 33.0341 - val_mean_squared_error: 33.0341
Epoch 9/20

4124/4124 [==============================] - 17s 4ms/step - loss: 25.2151 - mean_squared_error: 25.2151 - val_loss: 33.1245 - val_mean_squared_error: 33.1245
Epoch 10/20
4124/4124 [==============================] - 17s 4ms/step - loss: 24.5945 - mean_squared_error: 24.5945 - val_loss: 35.5705 - val_mean_squared_error: 35.5705
Epoch 11/20
4124/4124 [==============================] - 18s 4ms/step - loss: 23.9203 - mean_squared_error: 23.9203 - val_loss: 34.0842 - val_mean_squared_error: 34.0842
Epoch 12/20
4124/4124 [==============================] - 17s 4ms/step - loss: 23.4102 - mean_squared_error: 23.4102 - val_loss: 33.9163 - val_mean_squared_error: 33.9163
Epoch 13/20
4124/4124 [==============================] - 18s 4ms/step - loss: 22.8979 - mean_squared_error: 22.8979 - val_loss: 34.8374 - val_mean_squared_error: 34.8374
Epoch 14/20
4124/4124 [==============================] - 19s 5ms/step - loss: 22.5661 - mean_squared_error: 22.5661 - val_loss: 36.0859 - val_mean_squared_error: 36.0859
Epoch 15/20
4124/4124 [==============================] - 24s 6ms/step - loss: 22.2319 - mean_squared_error: 22.2319 - val_loss: 41.9599 - val_mean_squared_error: 41.9599
Epoch 16/20
4124/4124 [==============================] - 31s 8ms/step - loss: 21.8658 - mean_squared_error: 21.8658 - val_loss: 44.8861 - val_mean_squared_error: 44.8861
Epoch 17/20
4124/4124 [==============================] - 34s 8ms/step - loss: 21.6055 - mean_squared_error: 21.6055 - val_loss: 50.9865 - val_mean_squared_error: 50.9865
Epoch 18/20
4124/4124 [==============================] - 35s 8ms/step - loss: 21.2051 - mean_squared_error: 21.2051 - val_loss: 56.8483 - val_mean_squared_error: 56.8483
Epoch 19/20
4124/4124 [==============================] - 33s 8ms/step - loss: 21.0203 - mean_squared_error: 21.0203 - val_loss: 57.1115 - val_mean_squared_error: 57.1115
Epoch 20/20
4124/4124 [==============================] - 33s 8ms/step - loss: 20.7484 - mean_squared_error: 20.7484 - val_loss: 52.4922 - val_mean_squared_error: 52.4922
({'Age': 4.519100323180397, 'Height': 5.259561058890453, 'Weight': 5.543389528690274}, {'Age': 3.3430048929821887, 'Height': 3.895569299872684, 'Weight': 3.944308217826031})
Time Taken: 1206